<div class="row">
	<div class="col-4">
		<div id="sideuser_<%= @user.id %>"><%= render partial: 'layouts/sideuser', locals: { user: @user } %></div>
	</div>
  <div class="col-8">
<div id="tweet"><%= render partial: 'layouts/tweet', locals: { tweets: @tweets, newtweet: @newtweet} %></div>
  </div>
</div>