<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
<div id="tweet"><%= render partial: 'layouts/tweet', locals: { tweets: @tweets, newtweet: @newtweet} %></div>
  </div>
  <div class="col-2">
  </div>
</div>